[codex]
	version = 1
	base-ref = refs/heads/master
	base-tip = a97fcc37c2bc6340a8d7ce78dedf227aac4e9aa7
	output-ref = refs/heads/codex
	output-tip = 81fa15a2d53957eccb376d39561a0a2760cf263c

[branch "dr/codex/dugite"]
	remote = .
	merge = refs/heads/tb/codex/release
	codex-tip = 7174110137b26c174a86752e208dc39bf5cb6a8e

[branch "tb/codex/automation"]
	remote = .
	merge = refs/heads/master
	codex-tip = 5367fedab7a987152b13bd09ce8469d75f8b12e2

[branch "tb/codex/lto-pgo"]
	remote = .
	merge = refs/heads/tb/codex/release
	codex-tip = 5091baca3b68cb2a40807f408177fcf3169d5687

[branch "tb/codex/release"]
	remote = .
	merge = refs/heads/master
	codex-tip = f90d09ac68aa37700d246c9f7acaa599adcc6eea
