[codex]
	version = 2
	base-ref = refs/heads/master
	base-tip = a97fcc37c2bc6340a8d7ce78dedf227aac4e9aa7
	output-ref = refs/heads/codex
	output-tip = 71a27108a1835b8d45bf1ade49706e4ff18a5e1d

[codex-unstable]
	base-ref = refs/heads/codex
	base-tip = 71a27108a1835b8d45bf1ade49706e4ff18a5e1d
	output-ref = refs/heads/codex-unstable
	output-tip = b264c6f2664872433c7ad97855e2ae89be0f801a

[branch "dr/codex/dugite"]
	remote = .
	merge = refs/heads/tb/codex/release
	codex-tip = 988cecced01f69765d599a2d6c023406af98fa1b

[branch "tb/codex/automation"]
	remote = .
	merge = refs/heads/master
	codex-tip = 17738e2cc87ba67ed36cd1ffde983d43e01a5f41

[branch "tb/codex/geometric-maintenance-promisor"]
	remote = .
	merge = refs/heads/master
	codex-tip = dc2fffc37cead551f8036c9ecab5e52a4cbee37b

[branch "tb/codex/lto-pgo"]
	remote = .
	merge = refs/heads/tb/codex/release
	codex-tip = 88fcb4ac12c583bedf010e97ebf83cec240e3120

[branch "tb/codex/release"]
	remote = .
	merge = refs/heads/master
	codex-tip = ba107e0ae8c7142238bb612e530d51d42f0280d3

[branch "tb/codex/status-preview-unstable"]
	remote = .
	merge = refs/heads/codex
	codex-tip = e025eba175399d3f523aeb442cf76ce7c72db91e
