[codex]
	version = 3
	base-ref = refs/heads/master
	base-tip = b8242b093d9e941a34460d715e3ce616a34ac3fe
	output-ref = refs/heads/codex
	output-tip = 0d779fa987a6d214f24d68d36b2d22c32fe85fbc
	applied-plan = 6c51a1b277f03f6997b2bbcb25fc6f3c3f0acb99

[codex-unstable]
	base-ref = refs/heads/codex
	base-tip = 0d779fa987a6d214f24d68d36b2d22c32fe85fbc
	output-ref = refs/heads/codex-unstable
	output-tip = ee015734564f2c9605764417123d4f2736854ef9
	applied-plan = 5bfa621010297757a8e62e2fe2fc23dd354ac6c2

[branch "af/codex/pack-bytes"]
	remote = .
	source-ref = refs/heads/af/codex/pack-bytes
	source-tip = 9abdcdc650f32a4b03c31d0595e0b29892749574
	merge = refs/heads/master
	codex-tip = ddbae50aea2e5fe361c2e8536d5f50b8ce9b549d

[branch "af/codex/packfile-uri-credentials"]
	remote = .
	source-ref = refs/heads/af/codex/packfile-uri-credentials
	source-tip = 409df2c11ff1465d7f587026ec3a0d9375c105ef
	merge = refs/heads/master
	codex-tip = 31ff1075cc2d7f48bcc9c2e2691a9bb8c73c6c92

[branch "dr/codex/dugite"]
	remote = .
	source-ref = refs/heads/dr/codex/dugite
	source-tip = 988cecced01f69765d599a2d6c023406af98fa1b
	merge = refs/heads/tb/codex/release
	codex-tip = 836f26007e5d14a708321f43616e3816f2eb653a

[branch "dr/codex/trace2-redact-url-signatures"]
	remote = .
	source-ref = refs/heads/dr/codex/trace2-redact-url-signatures
	source-tip = 764f04785bdeb2888365b234ae3eae2062130e8d
	merge = refs/heads/master
	codex-tip = 764f04785bdeb2888365b234ae3eae2062130e8d

[branch "tb/codex/automation"]
	remote = .
	source-ref = refs/heads/tb/codex/automation
	source-tip = 5cd3b3771c0aac541add6fc3a7a97bcfe1749cbb
	merge = refs/heads/master
	codex-tip = ce95792760c30303f52102a1212a7e3077c81725

[branch "tb/codex/geometric-maintenance-promisor"]
	remote = .
	source-ref = refs/heads/tb/codex/geometric-maintenance-promisor
	source-tip = dc2fffc37cead551f8036c9ecab5e52a4cbee37b
	merge = refs/heads/master
	codex-tip = 88692936f801c55a4364c8fe5f45d8c0c1da89c6

[branch "tb/codex/lto-pgo"]
	remote = .
	source-ref = refs/heads/tb/codex/lto-pgo
	source-tip = 88fcb4ac12c583bedf010e97ebf83cec240e3120
	merge = refs/heads/tb/codex/release
	codex-tip = 26c4e4ecf91d656161f7be50c49e565875c21500

[branch "tb/codex/packfile-uri-concurrency"]
	remote = .
	source-ref = refs/heads/tb/codex/packfile-uri-concurrency
	source-tip = 4cc8b3223b233aa3b795b1265e6e7cf3d63c7170
	merge = refs/heads/master
	codex-tip = b8242b093d9e941a34460d715e3ce616a34ac3fe

[branch "tb/codex/parallel-packfile-uris"]
	remote = .
	source-ref = refs/heads/tb/codex/parallel-packfile-uris
	source-tip = a08b8d8bb7e3082e9d8e3d29e1535579234784be
	merge = refs/heads/tb/codex/packfile-uri-concurrency
	codex-tip = f022955c3c2f399324462cb954409bf2d8d64fe6

[branch "tb/codex/pin-ci-actions"]
	remote = .
	source-ref = refs/heads/tb/codex/pin-ci-actions
	source-tip = 026ca78e79986a60637df0fec4f2089e84f19f7a
	merge = refs/heads/tb/codex/lto-pgo
	codex-tip = e8e666c1133f5a21d07ff1809437530cb308f26f

[branch "tb/codex/release"]
	remote = .
	source-ref = refs/heads/tb/codex/release
	source-tip = 40589b5333835ecd5e1b6187cbcec45d8382303e
	merge = refs/heads/master
	codex-tip = 1b88d62e41838de957819f9a7489a9bb5460ca84

[branch "tb/codex/release-tooling"]
	remote = .
	source-ref = refs/heads/tb/codex/release-tooling
	source-tip = 66c1ed633a371bccb1abbe2297bfd3b27a498d87
	merge = refs/heads/tb/codex/lto-pgo
	codex-tip = faaebf896703c898091c78788e5ad1ff7fcb5f2e
